
.btn-indigo, .bg-indigo{
    background: #2e37a4;
    color: white;
}



.btn-outline-indigo {
    color: #2e37a4;
    border-color: #2e37a4;
  }
  
  .btn-outline-indigo:hover {
    color: #fff;
    background-color: #2e37a4;
    border-color: #2e37a4;
  }
  
  .btn-outline-indigo:focus, .btn-outline-indigo.focus {
    box-shadow: 0 0 0 0 #2e37a4;;
  }


.btn-indigo:hover{
    background: #4609a8;
    color: white;
}

.text-indigo {
    color: #2e37a4!important;
}

.select2-selection{
    height: 41px!important;
}

#select2-type_service-container{
    height: 100%!important;
}

.user-img-xs {
    max-width: 40px!important;
}

.nav-treeview .nav-link{
    padding-left: 30px;
}

.select2-selection__choice{
    background: #4609a8!important;
    color: white!important;
}


.dropzone .dz-remove {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para cuando se pasa el ratón sobre el ícono de eliminación */
.dropzone .dz-remove:hover {
    background-color: #d32f2f;
}

#myDropzone .dz-preview {
    display: inline-block;
    width: 23%; /* Ajusta el ancho de cada archivo para que quepan 4 por fila */
    margin: 1%; /* Espaciado entre los archivos */
    box-sizing: border-box;
}